# Lecture 04: Loops, Conditional Scripts, and Functions
By the end of this lecture, you will be able to:
1. Define "for" loops in Python
2. Create conditional statements using "if," "elif," and "else"
3. Create functions in Python

# 4.1. Loops

---

In [ ]:
#@title Loop over elements of a list
my_list_01 = [3,1,7,3,9,1]
my_list_02 = []

for i0 in my_list_01:
  my_list_02.append(i0 ** 2)
  print(my_list_02)

In [ ]:
#@title Loop using built-in function 'range' 
for i0 in range(0, 5, 1):
  print(i0)

print('.....')

for i0 in range(3, -10, -2):
  print(i0)

# 4.2. Conditional Statements

---

In [ ]:
#@title Develop conditional statements
#x = 45
#x = 42
x = 41

if x%2 == 0:
  print("{} is dividable by '2'".format(x))
elif x%3 == 0 and x%5 == 0:
  print("{} is NOT dividable by '2', but is dividable by '3' and '5' ".format(x))
else:
  print('We have no comment regarding {}'.format(x))

# 4.3. Functions

---

### 4.3.1. Functions - Example with Conditional Statements

In [ ]:
#@title Develop a function
def fun_test_01(x):
  if x%2 == 0:
    print("{} is dividable by '2'".format(x))
  elif x%3 == 0 and x%5 == 0:
    print("{} is NOT dividable by '2', but is dividable by '3' and '5' ".format(x))
  else:
    print('We have no comment regarding {}'.format(x))

In [ ]:
#@title Call the function
#fun_test_01(45)
#fun_test_01(42)
fun_test_01(41)

### 4.3.2. Functions - Example with Loop and Conditional Statements

In [ ]:
#@title Develop a function
def fun_test_02(start_val = 0, stop_val = 10, step_val = 1):
  for i0 in range(start_val, stop_val, step_val):
    if i0%4 == 0:
      print("{} is dividable by '4'".format(i0))
    elif i0%2 == 0:
      print("{} is NOT dividable by '4' but is dividable by 2".format(i0))
    else:
      print('we have no comment for {}'.format(i0))

In [ ]:
#@title Call the function
fun_test_02(start_val = -5, stop_val = 20)

### 4.3.3. Functions - Example with Outputs to be Returned

In [ ]:
#@title Develop a function with outputs 
def fun_test_03(x,y):
  if x%y == 0:
    output_01 = x**y
    output_02 = x/y
  else:
    output_01 = 'N/A'
    output_02 = 'N/A'

  return output_01, output_02

In [ ]:
#@title Call the function
output_01, output_02 = fun_test_03(24,5)
print(output_01, output_02)

# Lecture 04: Loops, Conditional Scripts, & Functions
In this lecture, you learned about:
1. How to define "for" loops in Python
2. How to create conditional statements using "if," "elif," and "else"
3. How to create functions in Python


***In the next lecture, we will learn about Numpy and Pandas for Data Processing***